<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grazeten"
    android:versionCode="309"
    android:versionName="3.0.9" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:name="com.grazeten.NewsRob"
        android:description="@string/app_description"
        android:icon="@drawable/gen_app_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true">

        <!--
            <meta-data android:name="android.app.default_searchable"
            android:value=".activities.ShowArticleActivity" />
        -->

        <activity
            android:name="com.grazeten.DashboardListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:exported="true"
            android:label="@string/dashboard_label" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.grazeten.activities.ArticleListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:exported="true"
            android:label="@string/article_list_label" >

            <!--
                <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            -->

        </activity>
        <activity
            android:name="com.grazeten.activities.FeedListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:exported="true"
            android:label="@string/feed_list_label" />
        <activity
            android:name="com.grazeten.activities.ShowArticleActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:exported="true"
            android:label="@string/show_article"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="com.grazerss.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!--
                <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            -->

        </activity>
        <activity
            android:name="com.grazeten.activities.AccountListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="Accounts" >
        </activity>
        
        <activity
            android:name="com.grazeten.feedly.FeedlyLoginActivity"
            android:label="Feedly Login"
            android:launchMode="singleTask" >
        </activity>

        <!--
            <activity
            android:name="com.grazerss.activities.DebugActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:clearTaskOnLaunch="true"> <intent-filter> <action
            android:name="android.settings.ADD_ACCOUNT_SETTINGS" />
            <category android:name="android.intent.category.DEFAULT" />
            </intent-filter> </activity>
        -->

        <activity
            android:name="com.grazeten.activities.LoginActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="@string/login"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light" />
        <activity
            android:name="com.grazeten.activities.SettingsActivity"
            android:label="@string/settings_title"
            android:theme="@android:style/Theme.Black" />
        <activity
            android:name="com.grazeten.activities.ShowGoogleErrorActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="@string/show_google_error_activity_label"
            android:launchMode="singleTask" />
        <activity
            android:name="com.grazeten.activities.ShowArticleInfoActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="@string/show_entry_info"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.grazeten.activities.ShowMessageActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="Show Message"
            android:process="com.grazerss.message.show"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.grazeten.activities.ManageFeedActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="@string/menu_item_manage_feed"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.grazeten.activities.SubscribeFeedActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:exported="true"
            android:label="Subscribe to Feed" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="text/plain"
                    android:scheme="http" />
                <data
                    android:mimeType="text/plain"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.grazeten.appwidget.UnreadWidgetPrefActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="Configure Unread Widget"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.grazeten.locale.MockEditSettingsActivity"
            android:icon="@drawable/grazerss_logo_32x32"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <receiver android:name="com.grazeten.locale.FireReceiver" >
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
                <action android:name="com.grazerss.SYNC" />
                <action android:name="com.grazerss.UP_SYNC" />
                <action android:name="com.grazerss.CANCEL_SYNC" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.grazeten.WakeupAndSynchronizeReceiver" />
        <receiver android:name="com.grazeten.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.grazeten.PackageChangedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.grazeten.appwidget.UnreadWidgetProvider"
            android:label="GrazeTEN\nUnread Count" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <!--
                <intent-filter> <action
                android:name="com.grazerss.MODEL_UPDATED" />
                </intent-filter>
            -->
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/unread_widget" />
        </receiver>

        <!--
            <provider android:name="com.grazerss.search.SearchProvider"
            android:authorities="articles" android:syncable="false" />
        -->

        <provider
            android:name="com.grazeten.AssetContentProvider"
            android:authorities="com.grazeten.assets" />

        <service
            android:name="com.grazeten.SynchronizationService"
            android:enabled="true" />
        <service android:name="com.grazeten.appwidget.UnreadWidgetProvider$UpdateService" />
    </application>

</manifest>